/* colors and font styles given */

header,
footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header-main-text > h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header-main-text > p,
.header-links > ul {
    color: #e5e7eb;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

button,
.cta-box {
    background-color: #3882f6;
}

.information > h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote > p {
    font: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

.quote > .author {
    font-size: 18px;
    font-weight: bold;
}

/* custom CSS */

.header-links {
    display: flex;
    justify-content: space-between
    ;
}

.header-links > ul {
    display: flex;
    gap: 10px;
    text-decoration-style: none;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d4md-examples {
    display: flex;
    gap: 20px;
}

.example {
    display: flex;
    flex-direction: column;
    border: 5px;
    border-color: #3882f6;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    flex: auto;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote > .author {
    align-self: flex-end;
    margin-right: 500px;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.cta-box-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}